#app-container{
    height: 100%;
   .main-app-container {
    height: 100%;
    }
}

.app-page-container{
    margin-left: 60px;
    margin-top: 10px;
    .sb-wrapper{
        .main-heading{
            color: #3D3D3D;
        }
    }
}