.bg-error{
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    width: 75% !important;
    float: left;
    padding: 0 !important;
    min-height: auto;
    display: block;
    height: 100%;
    max-width: 75% !important;
    top: 10%;
}
