.header{
    color: #fff !important;
    background-color: #3D3D3D !important;
    .header-toolbar{
        padding-right: 15px;
        .logo{
            margin-top: 8px;
            flex-grow: 1;
            img{
                max-width: 150px;
            }
        }
        .notification-btn{
            color: #fff;
            + div{
                right: 5px !important;
            }
        }
        .pro-pic{
            + div{
                right: 5px !important;
            }
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }
    }
}

// .profile-item{
//     > div 
//     { 
//         +div{
//             top:60px !important;
//         }
//     }
// }