.section-login {
        color: #000 !important;
        text-transform: initial !important;
        .quad-container{
            min-height: 100vh;
            margin:0px;
            width:100%;
            display: table;
        .sb-loging-bg{
            height: 100%;
            background-image: url('../assets/images/bg.png');
            background-size: cover;
            width: 75%;
            position: fixed;
            left: 0;
            float: left;
        }
        .side-login-panel{
            box-shadow: none;
            overflow: visible;
        
        }
        label{
            font-size: 14px;
            font-weight: 500 !important;
        }
    .validation-error {
            color: red;
            font-size: 12px;
        }
        ::placeholder {
        font-size: 14px;
        color: #4D4D4D !important;
        }
        a{
            font-size: 12px;
        }
        p{
            font-size: 13px;
            color: #6e6e6e;
        }
        .icon-size  {
            > div > button > span > div{
                width: 18px;
                height: 18px;
            }
        }
        .underline-solid{
            > div {
                &:before{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.42) !important;
                }
            }
        }
        .auto-suggesation{
            > div > div{
                &:last-child{
                position: absolute;
                left: 0;
                right: 0;
                z-index: 1;
                    ul{
                        list-style: none;
                        padding: 0;
                    }
                }
            }
        }
      
        .form-panel{
            padding: 15vh 4vh 4vh 4vh !important;
            min-height:100vh;
            float: right;
            width: 25%;
            .side-login-panel{
                .logo-qaud{
                    padding: 0;
                    padding-bottom: 70px !important;
                    height: 0px;
                    .logo-icon{
                        height: auto;
                        width: 170px;
                        display: block;
                    }
                }
                .quad-content{
                    padding: 0;  
                    .form-qaud{
                        margin-bottom: 70px;
                        > div > div{ 
                            label[data-shrink ='true']  {
                                color: $bg_green-color_1 !important;
                                + div{
                                    &:after{
                                        border-bottom: 2px solid $bg_green-color_1 !important;
                                    }
                                }
                                
                            }
                        }
                        .qaud-grid{
                            margin-bottom:15px;
                            .text-field{
                                width:100%;
                                svg{
                                    width: 0.8em;
                                    height: 0.8em;
                                }
                            }
                        }
                        .auto-suggesation{
                            position: relative;
                        }
                        .mt-checkbox{
                            width:auto;
                           margin-right:10px;
                        }
                    }
                    .divider   
                    {
                        margin: 0 -4vh !important;
                        border-color:#e1e6ee;
                    }
                }
            }
        }

    }
}

 



