
.app-sidebar {
    background-color: #3D3D3D !important;    
    .side-nav{
        .nav-link{
            .fa{
                font-size: 20px;
                color: #777;
                margin-right: 16px;
                &:hover{
                    color: $bg_green-color_1;
                }
            }
        }
       
    }
}