$btn_bg_blue1: #3C83E2; 
$btn_txt_color1: #fff; 

$color_3: #999; 
$background_color_1: #090345; 
$bg_green-color_1: #24BA4D; 
$bg_green-color_2: #3b841a; 


$background_color_2: transparent; 
$background_color_3: #f5f5f5; 
$border-color: #e2e2e2; 
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
}
body.modal-open{margin-right:0 !important; padding-right:0 !important}
*{outline: 0;}
.row{display: -webkit-flex; flex: 1;
    -webkit-flex: 0 1 100%;}

label{font-weight:400 !important}
.form-control{font-size:13px !important; box-shadow:none !important}


a{color: #0289ea;}
a:hover{color: #0289ea !important; text-decoration: none !important;}

.bg-trans{background-color: transparent;}
.mr0{margin:0 !important}
.mrT0{margin-top:0 !important}
.mrT5{margin-top:5px}
.mrT10{margin-top:10px}
.mrT12{margin-top: 12px;}
.mrT15{margin-top:15px}
.mrT18{margin-top:18px}
.mrT20{margin-top:20px !important;}
.mrT25{margin-top:25px}
.mrT50{margin-top: 50px;}
.mrT55{margin-top: 55px !important;}



.mrB0{margin-bottom:0 !important}
.mrB5{margin-bottom:5px !important;}
.mrB10{margin-bottom:10px !important;}
.mrB15{margin-bottom:15px !important;}
.mrB20{margin-bottom:20px !important;}
.mrB25{margin-bottom:25px !important;}
.mrB30{margin-bottom:30px !important;}
.mrB35{margin-bottom:35px !important;}
.mrB40{margin-bottom:40px !important;}

.mrL0{margin-left:0 !important}
.mrL5{margin-left:5px}
.mrL10{margin-left:10px}
.mrL15{margin-left:15px}
.mrL20{margin-left:20px}
.mrL25{margin-left:25px}

.mrR0{margin-right:0 !important}
.mrR5{margin-right:5px}
.mrR10{margin-right:10px}
.mrR15{margin-right:15px}
.mrR20{margin-right:20px}
.mrR25{margin-right:25px}
.mrR15{margin-right:15px}

.pdT0{padding-top:0 !important}
.pdT5{padding-top:5px}
.pdT10{padding-top:10px}
.pdT15{padding-top:15px}
.pdT20{padding-top:20px}
.pdT25{padding-top:25px}

.pdB0{padding-bottom:0 !important}
.pdB5{padding-bottom:5px !important}
.pdB10{padding-bottom:10px}
.pdB15{padding-bottom:15px}
.pdB20{padding-bottom:20px}
.pdB25{padding-bottom:25px}

.pdL0{padding-left:0 !important}
.pdL5{padding-left:5px !important}
.pdL10{padding-left:10px}
.pdL8{padding-left:8px}
.pdL15{padding-left:15px}
.pdL20{padding-left:20px}
.pdL25{padding-left:25px}

.pdR0{padding-right:0 !important}
.pdR5{padding-right:5px}
.pdR10{padding-right:10px}
.pdR8{padding-right:8px}

.pdR15{padding-right:15px}
.pdR20{padding-right:20px}
.pdR25{padding-right:25px}
.pdR15{padding-right:15px}

.pd0{padding:0 !important}
.pd5{padding:5px}
.pd10{padding:10px}
.pd15{padding:15px}
.pd20{padding:20px}
.pd25{padding:25px}
.pd30{padding:30px}

.txt-color-gray-100{color: #f5f5f5!important;}
.txt-color-gray-200{color: #eee!important;}
.txt-color-gray-300{color: #e0e0e0!important;}
.txt-color-gray-400{color: #bdbdbd!important;}
.txt-color-gray-500{color: #9e9e9e!important;}
.txt-color-gray-600{color: #757575!important;}
.txt-color-gray-700{color: #616161!important;}
.txt-color-gray-800{color: #424242!important;}
.txt-color-gray-900{color: #212121!important;}

.bg-color-gray-100{background-color: #f5f5f5!important;}
.bg-color-gray-200{background-color: #eee!important;}
.bg-color-gray-300{background-color: #e0e0e0!important;}
.bg-color-gray-400{background-color: #bdbdbd!important;}
.bg-color-gray-500{background-color: #9e9e9e!important;}
.bg-color-gray-600{background-color: #757575!important;}
.bg-color-gray-700{background-color: #616161!important;}
.bg-color-gray-800{background-color: #424242!important;}
.bg-color-gray-900{background-color: #212121!important;}

.bdr-t-1{border-top: solid 1px $border-color;}
.bdr-b-1{border-bottom: solid 1px $border-color;}
.bdr-l-1{border-left: solid 1px $border-color;}
.bdr-r-1{border-right: solid 1px $border-color;}

.opacity25{opacity:0.25}
.opacity50{opacity:0.50}
.opacity75{opacity:0.75}


::-webkit-input-placeholder{
color: #CCC; 
}
::-moz-placeholder{
color: #CCC; 
}

.fluid{
    width: 100%; 
}
.d-iblock{display: inline-block;}

/**************PANEL***************/
.panel{border-radius: 0px;}
.panel-default>.panel-heading{background-color: transparent; font-weight: 500; color: #666;}
/*********************************/

/**************TEXT COLOR***************/
.text-primary{color:#225BDE;}
.text-gray{color:#6E6E6E}
.text-sucess{color:#24BA4D;}
.text-danger{color:#dc3545;}
.text-info{color:#17a2b8;}
.text-warning{color:#ffc107;}

/*********************************/

.fnt-10{font-size:10px;}
.fnt-11{font-size:11px;}
.fnt-12{font-size:12px;}
.fnt-13{font-size:13px;}
.fnt-14{font-size:14px;}
.fnt-15{font-size:15px;}
.fnt-16{font-size:16px;}
.fnt-17{font-size:17px;}
.fnt-18{font-size:18px;}
.fnt-19{font-size:19px;}
.fnt-20{font-size:20px;}

.lineH-10{line-height:10px;} 
.lineH-12{line-height:12px;} 
.lineH-14{line-height:14px;} 
.lineH-16{line-height:16px;} 
.lineH-18{line-height:18px;} 
.lineH-20{line-height:20px;}
.lineH-22{line-height:22px;}
.lineH-20{line-height:24px;}

.btn-green{
    background: $bg_green-color_1!important;
    border-color: $bg_green-color_1!important;
    color: #fff!important;
    padding: .60rem 2.5rem !important;
    border-radius: .2rem !important;
    font-size: 13px;
    text-decoration: none;
    &:hover{
            background: $bg_green-color_2 !important;
            border-color: $bg_green-color_2 !important;
            color: #fff!important;
    }
    &:focus{
        background: $bg_green-color_2 !important;
        border-color: $bg_green-color_2 !important;
        color: #fff!important;
    }
    &:active{
        background: $bg_green-color_2 !important;
        border-color: $bg_green-color_2 !important;
        color: #fff!important;
    }
}

.btn-green-boder{
    background: #fff!important;
    border:1px solid $bg_green-color_1!important;
    padding: .60rem 2.5rem !important;
    border-radius: .2rem !important;
    color: $bg_green-color_1!important;
    font-size: 13px;
    text-decoration: none;
   
    &:hover{
            background: $bg_green-color_2 !important;
            border-color: $bg_green-color_2 !important;
            color: #fff!important;
    }
    &:focus{
        background: $bg_green-color_2 !important;
        border-color: $bg_green-color_2 !important;
        color: #fff!important;
        
    }
    &:active{
        background: $bg_green-color_2 !important;
        border-color: $bg_green-color_2 !important;
        color: #fff!important;
    }
}

