.modal-stepper{
    > div{
        border-radius: 0;
    }
    .modal-processStepper{
        padding: 0px !important;
        .step-process.active{
            background-color: #2f467d !important;
        }
        .step-process.complete{
            background-color: $bg_green-color_1 !important;
        }
        .step-process.in-active{
            background-color: $btn_txt_color1 !important;
        }
        .step-process:first-child{
            border-left: 0px !important;
        }
        .step-process{
            border: solid 1px #eee;
            border-left: 0 !important;
            border-top:0px !important;
            
            > div:last-child{
                display:none !important;        
            }
            .stepper-label{
                flex-direction: row !important;
                line-height: initial !important;
                height: 10px !important;
                svg{
                    display: none;
                }
            }
        }
        .footer-btn{
            background-color: #eee;
            padding: 10px 15px;
            button{
                &:first-child{
                    background-color: #fff;
                   border:1px solid $btn_primary;
                   color: $btn_primary;
                }
                &:disabled{
                    opacity: 0.6;
                    background-color: #eee;
                }
                
            }
        }
        .help-txt{
            float: right;
            text-decoration: none;
        }
    }
    .radio-box{
        position: relative;
        > span{
            position: absolute;
            text-align: center;
            width: 100%;
            left: 0;
            right: 0;
            height: 95px;
            opacity: 0;
        }
           
            .active{
                border: 1px solid $bg_green-color_1;
            }
            .service-box{
                border: 1px solid #ddd;
                padding: 15px 0;
            }
        
    }
   
    .cloud-service {
        text-align: center;
        margin: 0 auto;
        min-height: 75px;
        img{
            width: auto;
            height: 60px;
            text-align: center;
            margin: 0 auto;
            vertical-align: middle;
        }
    }
    .service-name{
        text-align: center;
    }
}